
body{
    background: url("/images/bg.jpg") ;
}

.main{
    margin: 30px;
    background-color: white;
    border-radius: 4px;
}

.icon-top{
    margin-top:10px ;
}

.text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.avatar{
    width: 35px;
    height: 35px;
}

.profile-section{
    margin-top: 15px;
}