<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionname}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/Jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12  col-xs-12">
            <div class="page-header">
                <h1><span th:text="${sectionname}"></span></h1>
            </div>
            <div class="media" th:each="question:${pagination.question}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded  avatar" src="https://i.picsum.photos/id/503/30/30.jpg"
                             th:src="${question.user.avatarUrl}" th:if="${not #lists.isEmpty(question.user.avatarUrl)}">
                        <img class="media-object img-rounded avatar" src="https://i.picsum.photos/id/503/30/30.jpg"
                             th:if="${ #lists.isEmpty(question.user.avatarUrl)}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <p th:text="${question.description}"></p>
                    <span class="text" th:text="${question.user.name}"></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page} ? 'active' : ''"><a
                            th:href="@{/(page=${page})}" th:text="${page}"
                    ></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group profile-section">
                <a href="#" th:class="${section=='questions'}?'active list-group-item': 'list-group-item'">我的问题
                    <span class="badge">14</span>
                </a>
                <a href="#" th:class="${section=='apply'}?'active list-group-item': 'list-group-item'">最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>